.container-fluid{
    min-height: 100vh;
    height: auto;
}
.footer{
    border-top: 1px solid gainsboro;
    height: 30px;
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    height: 80px;
    text-align: left;
    position: relative;
    width: 80% !important;
}
.header-container{
    background-color: #313a45;
    justify-content: left;
}

.header h2{
    color: white;
}
.header button{
    position: absolute;
    right: 0;
    outline: none;
}
.plus{
    font-size: 1.5rem;
    padding-right: 1rem;
    font-size: 1.75rem;
}
.btn{
    margin: 0 1rem;
    width: 150px;
}
.alert-container{
    width: 70% !important;
    margin: 0 auto;
    height: 40px;
}
.alert{
    height: 30px;
}
.alert p{
    margin: -.75rem;

}
.content {
    margin: 0 auto;
    min-height: calc(100vh - 160px);
    height: auto;
}

.content-content{
    justify-content: center;
    flex-wrap: wrap;
    width: 80% !important;
    height: auto;
}
.task{
    padding: 0.25rem;
    flex-direction: column;
    justify-content: space-around;
    max-width: 200px;
    width: 200px;
    height: 230px;
    font-size: 12px;
    margin: 1rem;
    border: 1px solid rgb(236, 235, 235);
    border-radius: 4px;
}
.task-btn-container{
    text-align: right;
}
.task-btn-container >button{
    margin: 0 0;
}
.task-btn-container button{
    border: none;
    background: none;
}

.it{
    border-top: 4px solid #2980b9;
}

.traveling {
    border-top: 4px solid #27ae60;
}

.business {
    border-top: 4px solid #f39c12;
}
.taskt-title{
    height: 30px;
}
.task-subtitle{
    height: 30px;
}
.task-text{
    height: 70px;
}

.it-sub {
    background-color:  #2980b9;
    color: white;
    width: 50%;
    text-align: center;
    padding: .25rem .5rem;
    border-radius: 4px;

}

.traveling-sub {
   background-color:  #27ae60;
   color: white;
   width: 50%;
   text-align: left;
   padding: .25rem .5rem;
   border-radius: 4px;
}

.business-sub {
   background-color:  #f39c12;
   color: white;
   width: 50%;
   text-align: left;
   padding: .25rem .5rem;
   border-radius: 4px;
}
.taskcard{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}







